DB_URL=jdbc:mysql://localhost:3307/snippet?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=snippet
DB_PASSWORD=snippet_dev_password
REDIS_HOST=localhost
REDIS_PORT=6379
SERVER_PORT=8080
SNIPPET_JWT_ISSUER=snippet-backend
SNIPPET_JWT_ACCESS_TOKEN_TTL=PT2H
SNIPPET_JWT_SECRET=<BASE64_ENCODED_SECRET_WITH_AT_LEAST_32_BYTES>
