<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snippet.user.mapper.UserMapper">
    <select id="selectById" resultType="com.snippet.user.entity.UserProfile">
        SELECT
            id,
            username,
            email,
            nickname,
            avatar_asset_id,
            background_asset_id,
            status
        FROM user_account
        WHERE id = #{userId}
        LIMIT 1
    </select>

    <select id="selectByUsername" resultType="com.snippet.user.entity.UserProfile">
        SELECT
            id,
            username,
            email,
            nickname,
            avatar_asset_id,
            background_asset_id,
            status
        FROM user_account
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="selectByEmail" resultType="com.snippet.user.entity.UserProfile">
        SELECT
            id,
            username,
            email,
            nickname,
            avatar_asset_id,
            background_asset_id,
            status
        FROM user_account
        WHERE email = #{email}
        LIMIT 1
    </select>

    <update id="updateProfile">
        UPDATE user_account
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="avatarAssetId != null">
                avatar_asset_id = #{avatarAssetId},
            </if>
            <if test="backgroundAssetId != null">
                background_asset_id = #{backgroundAssetId},
            </if>
        </set>
        WHERE id = #{userId}
    </update>
</mapper>
