.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsla(0, 0%, 50%, 0.8);
}

.login-container {
  width: 450px;
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.header-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  background-color: red;
  border-radius: 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.header-title h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.header-title p {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.2;
}

.body-container {
  margin: 24px 0;
}

.account-label,
.email-label,
.password-label,
.confirm-password-label {
  margin: 4px;
}

.account-label input,
.email-label input,
.password-label input,
.confirm-password-label input {
  display: block;
  width: 100%;
  padding: 20px 11px;
  border: 1px solid #6f6f6f;
  border-radius: 12px;
}

.forget-password-link {
  display: inline-block;
  margin: 9px 0 0 4px;
  font-size: 14px;
  line-height: 1.5;
  color: #2b48d4;
  text-decoration: none;
}

.login-btn,
.google-btn,
.QR-code-btn {
  display: block;
  width: auto;
  margin: 4px;
  padding: 6px 14px;
  border-radius: 16px;
  cursor: pointer;
}

.login-btn {
  margin: 12px 4px 4px;
  background-color: red;
  border: none;
}

.login-btn:hover {
  background-color: #cc0000;
}

.google-btn,
.QR-code-btn {
  background-color: #fff;
  border: 1px solid #6f6f6f;
}

.google-btn:hover,
.QR-code-btn:hover {
  background-color: #f0f0f0;
}

.login-btn div,
.google-btn div,
.QR-code-btn div {
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.login-btn div {
  color: #fff;
}

.google-btn div,
.QR-code-btn div {
  color: #000;
}

.or-text {
  padding: 8px 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.QR-code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 16px;
  margin-bottom: 24px;
  background-color: #ededed;
  border-radius: 16px;
}

.QR-code-text-container h4 {
  margin: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.QR-code-text-container p {
  margin: 2px;
  font-size: 14px;
  line-height: 1.5;
}

.QR-code-img-container {
  width: 96px;
  height: 96px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-btn {
  content: "刷新";
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  width: 60px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
}

.new-user-link {
  font-size: 16px;
  line-height: 1.5;
}

.join-link {
  color: #000;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.privacy-policy-link {
  margin-top: 16px;
}

.privacy-policy-link-text {
  font-size: 12px;
  line-height: 1.5;
  color: #a0a0a0;
  text-decoration: underline;
  cursor: pointer;
}
