.user-info {
  margin-top: 72px;
  background-color: #ffffff;
  width: 600px;
  height: 648px;
  margin-left: 244px;
  position: relative;
}
.friend-list {
  background-color: #88ff82;
  position: absolute;
  width: 420px;
  min-height: 1220px;
  right: -466px;
  top: 0;
  bottom: 0;
}
.snippet-list {
  background-color: #ffffff;
  width: 600px;

  margin-left: 244px;
}

.user-background {
  width: 600px;
  height: 337px;
  overflow: hidden;
  position: relative;

  .user-background-image {
    width: 600px;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 337px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.user-avatar-image {
  width: 154px;
  border-radius: 50%;
  position: absolute;
  top: 260px;
  left: 27px;
  box-sizing: content-box;
  border: 4px solid #fff;
}

.user-detail-info {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 34px;

  .user-name {
    font-weight: 700;
    font-size: 24px;
    color: #1e1e2e;
    margin-bottom: 4px;
  }
  .user-id {
    font-size: 14px;
    color: #1e1e2e;
    margin-bottom: 12px;
  }

  .user-signature {
    margin-bottom: 12px;
  }
}

.join-date {
  font-size: 14px;
  color: #1e1e2e;
  margin-bottom: 12px;
  margin-left: 34px;
  .join-date-prefix {
    font-size: 14px;
    color: #1e1e2e;
    margin-right: 4px;
  }
  .join-date-number {
    font-size: 14px;
    color: #1e1e2e;
  }
}

.edit-profile-button {
  font-weight: 600;
  position: absolute;
  top: 370px;
  left: 427px;
  width: 120px;
  height: 36px;
  background-color: #1e1e2e;
  color: #ffffff;
  border-radius: 18px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #000000;
    border: 2px solid #1e1e2e;
  }
}

.snippet-svg {
  width: 120px;
  margin-top: 20px;
  margin-left: 16px;
}
