.user-info {
  margin-top: 72px;
  background-color: #ffffff;
  width: 600px;
  height: 648px;
  margin-left: 244px;
  position: relative;
}
.friend-list {
  position: absolute;
  width: 420px;
  min-height: 1220px;
  right: -466px;
  top: 0;
  bottom: 0;
}
.snippet-list {
  background-color: #ffffff;
  width: 600px;

  margin-left: 244px;
}

.footer {
  border-top: 1px solid #000;
  margin-top: -1px;
  height: 200px;
  width: 100%;
}
